body {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    background-color: #130918;
    color: #ece2d0;
}

.Categories{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 100;
    font-size: 1.25rem;
    word-spacing: 2px;
}

.Welcome {
    display: flex;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 800px;
    letter-spacing: -2.6px;
    line-height: 105px;
    text-transform: uppercase;
}

