@import "tailwindcss";

:root {
  --background: #130918;
  --foreground: #ece2d0;
  --font-family: "Barlow", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #130918;
    --foreground: #ece2d0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family);
}
